<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Horario</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registro e Inicio de Sesión</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <!-- Pestaña desplegable para Usuarios -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Usuarios <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/medico}">Médicos</a></li>
                        <li><a th:href="@{/pacientes}">Pacientes</a></li>
                    </ul>
                </li>

                <!-- Botón de Especialidades Médicas -->
                <li>
                    <a th:href="@{/especialidad}">Especialidades Médicas</a>
                </li>

                <!-- Botón de Especialidades Médicas -->
                <li>
                    <a th:href="@{/horario}">Horarios</a>
                </li>

                <!-- Botón de Cerrar Sesión -->
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br><br>

<div class="container">
    <h2>Editar Horario</h2>
    <form action="#" th:action="@{/horario/editar/{id}(id=${horario.id})}" th:object="${horario}" method="post">
        <div class="form-group">
            <label for="diaSemana">Día de la Semana:</label>
            <input type="text" class="form-control" id="diaSemana" th:field="*{diaSemana}" placeholder="Ej: Lunes"
                   required>
        </div>
        <div class="form-group">
            <label for="horaInicio">Hora de Inicio:</label>
            <input type="time" class="form-control" id="horaInicio" th:field="*{horaInicio}" required>
        </div>
        <div class="form-group">
            <label for="horaFin">Hora de Fin:</label>
            <input type="time" class="form-control" id="horaFin" th:field="*{horaFin}" required>
        </div>
        <div class="form-group">
            <label for="medico">Médico:</label>
            <select id="medico" name="medico.id" class="form-control" th:field="*{medico.id}" required>
                <option th:each="medico : ${medicos}" th:value="${medico.id}" th:text="${medico.nombre}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a th:href="@{/horario}" class="btn btn-default">Cancelar</a>
    </form>
</div>

<!-- Bootstrap JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>
